@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

html{
  font-size: 63.5%; /*62.5*/
  font-weight: 500;
  box-sizing: border-box;
  border-style: none;
}

body,
#root{
  height: 100vh;
  margin:0;
}
body, input,select, button, textarea{
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #272525;
}
.grid-container{
  display: grid;
  grid-template-areas: 
    "header"
    "main" 
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr ;
  height: 100%;
}
a{
  
  text-decoration: none;
}
a:hover{
  color:#ff8015;
}
header{
  grid-area: header;
  background-color: #203040;
  color: #d3baba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a{
  color: #ffffff;
  text-decoration: none;
}
main{
  grid-area: main;
  padding-top:5px;
  padding-bottom: 10px;
}
footer{
  grid-area: footer;
  background-color: #203044;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar{
  flex:1 20rem;
}

/* Products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 2px;
  padding: 0;
  margin:0;
  list-style-type: none;
}

.products li{
  flex:0 1 29rem;
  height:47rem;
  padding:1rem;
  /* margin:1rem; */
}
.product {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 100%;
}
.product a{
  color: #272727;
  
}
.product a:hover{
  color: #000;
  font-weight: 500;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.product-price div,
.product-price button{
  text-align:center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
}
.button{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
  color: #fff;
}
.txt-black{
  color:#000;
}
.button:hover{
  box-shadow: 0 0.6em 0.5em -0.4em;
  transform: translateY(-0.15em);
  transition: transform 0.3s ease-in-out;
}
.primary{
  background-color: #f77d2b;
}

/* Filter class */
.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding:1rem;
  margin-left: 5px;
  margin-right: 10px;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div{
  flex: 1;
}

/* Cart items */

.cart{
  padding: 1rem;
  margin: 1rem;
  margin-top: 0.35rem;
  display:flex;
  color: #272525;
}
.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
  font-size: 15px;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
}
.cart-items img{
  width: 6rem;
  max-height: 7rem;
}
.cart-items li{
  display: flex ;
}
.cart-items li div{
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.right{
  text-align: right;
}
.right button{
  background-color: #ff381e;
  font-weight: 500;
  font-size: 8px;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  margin-left: 8px;
  font-size: 14px;
  color: #fff;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div,
.total > button{
  flex: 1;
}
/* Chechout section */
.form{
  width: 100%;
}
.form-container{
  border-radius: 5px;
  list-style: none;
  width: 100%;
  background-color: #f7f7f7;
  padding: 50px 20px;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;

}
input{
  border-style: none;
  padding: 1.2rem;
  height: 20px;
  background-color: #fff;
  border-bottom: 1px #000 solid;
}
.form-container button{
  width: 75%;
  padding: 0.5rem;
  margin-left: 35px;
  border: 0.1rem #c0c0c0 solid;
  background-color: #0dd817;
  color: #000;
}

/* Product Details */
.product-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img{
  max-height: 100%;
  max-width: 46rem;
  margin: auto;
}
.product-details-description{
  flex: 1 1;
  margin: 1rem;
}
.close-modal{
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}
.close{
  background-color: #ff381e;
}
.close span{
  font-size: 19px;
  /* margin-left: 1px;
  margin-right: 1.5px; */
}
.close:hover{
  cursor: pointer;
}
.txt-white{
  color: #fff;
  font-weight:600 ;
}
.rounded{
  border-radius: 50%;
  border-style: none;
  padding-bottom:2px ;
  margin: 0 2px;
  
}
.ref:hover{
  font-weight: 600;
  cursor: pointer;
}